body{
  overflow: hidden;
}
.container{
  margin-left: 400px;
}
  input.ng-invalid.ng-touched{
    border: 2px solid red;
  }
  .row{
    margin: 1px;
  }
  .form-control{
    border: 1px solid #010102;
    background-color: white;
    width: 50%;
    line-height: 1rem;
    padding: 2px;
    margin: 7px;
  }
  .btn{
    margin-left: 80px;
    margin-top: 10px;
    background-color: blanchedalmond;
   border: none;
   color: rgb(8, 3, 3);
   text-align: center;
   font-size: 16px;
   transition: 0.3s;
  }
  .btn:hover{
    color: rgb(241, 237, 241);
    background-color: rgb(1, 13, 14);

  }
  .title {
    color: #4b02c2;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 80px;
  
  }
  
  .subtitle {
    color: #c670c9;
    font-family: sans-serif;
    font-size: 26px;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 6px;
  }