<div class="container">
    <div class="row">
      <!-- <div class="mx-auto col-10 col-md-8 col-lg-6"> -->
        <div class="mx-auto">
          <br>
        <!-- <form (ngSubmit)="onSubmit(f)" #f="ngForm"> -->
          <form (ngSubmit)="onSubmit()" #f="ngForm">  
          <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup" class="row g-3 align-items-center">
            <div class="col-auto">
              <label>FirstName:</label></div>&nbsp;&nbsp;
             <div class="col-auto">
            <input type="text" 
              id="FirstName" 
              class="form-control"
              ngModel
              name="FirstName" 
              required>
            </div>
            <div class="form-group row g-3 align-items-center">
              <div class="col-auto">
                <label for="LastName">LastName:</label>
              </div>
              <div class="col-auto">
                <input type="text" 
                id="LastName" 
                class="form-control"
                ngModel
                name="LastName" 
                required></div>
              </div>
            <div class="form-group row g-3 align-items-center ">
              <div class="col-auto">
              <label  for="email">Mail:</label></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <div class="col-auto">
              <input type="email"
               id="email" 
               class="form-control"
               ngModel
               name="email"
               required
               email 
               #email="ngModel"
              ></div>
               <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
            </div>
            <div class="form-group row g-3 align-items-center">
              <div class="col-auto">
                <label>Address:</label></div>&nbsp;&nbsp;&nbsp;
                <div class="col-auto">
                  <textarea name="" id="Address" cols="30" rows="5" class="form-control"
                  ngModel
                  name="Address" 
                  required>></textarea>
               </div>
              </div>
              <div class="form-group row g-3 align-items-center">
                <div class="col-auto">
                <label for="PhoneNumber">Contact:</label></div>&nbsp;&nbsp;&nbsp;
                <div class="col-auto">
                <input type="number" 
                id="PhoneNumber" 
                class="form-control"
                ngModel
                name="PhoneNumber" 
                required></div>
              </div>
              <div class="form-group row g-3 align-items-center">
                <div class="col-auto">
                <label for="country">Country:</label></div>&nbsp;&nbsp;
                <div class="col-auto">
                <input type="text" 
                id="country" 
                class="form-control"
                ngModel
                name="country" 
                required></div>
              </div>
              <div class="form-group row g-3 align-items-center">
                <div class="col-auto">
                <label for="state">State:</label></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="col-auto">
                <input type="text" 
                id="state" 
                class="form-control"
                ngModel
                name="state" 
                required></div>
              </div>
              <div class="form-group row g-3 align-items-center">
                <div class="col-auto">
                <label for="city">City:</label></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="col-auto">
                <input type="text" 
                id="city" 
                class="form-control"
                ngModel
                name="city" 
                required></div>
              </div>
              <div class="form-group row g-3 align-items-center">
                <div class="col-auto">
                <label for="street">Street:</label></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="col-auto">
                <input type="text" 
                id="street" 
                class="form-control"
                ngModel
                name="street" 
                required></div>
              </div>
              <div class="form-group row g-3 align-items-center">
                <div class="col-auto">
                <label for="pinc">PinCode:</label></div>&nbsp;
                <div class="col-auto">
                <input type="text" 
                id="pinc" 
                class="form-control"
                ngModel
                name="pinc" 
                required min="6"></div>
              </div>

            <p *ngIf="!userData.valid && userData.touched">User Data is invalid!</p>
          </div>
          
          <button class="btn"
          type="submit"
          [disabled]="!f.valid"
          >Submit</button>
        </form>
          </div>
    </div>
</div>