* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #0c080c;
    justify-content: space-between;
    overflow: auto;
  }
  ul li {
    position: relative;
    margin: 0 20px;
    list-style: none;
    display: inline-block;
    padding: 14px;
    font-size: 17px;
  }
  ul li a{
  text-decoration: none; 
  cursor: pointer;
  color: rgb(255, 255, 255);
  }
  ul li a:hover {
    background-color: blanchedalmond;
   border-radius: 10px;
     color: black;
  }
  .form-control{
    width: 400px;
    height: 40px;
    padding: 3px;
    margin: 8px;
    border-radius: 10px;
  }
  #button{
    width: 90px;
    height: 43px;
    margin-top: 6px;
    border-radius: 15px;
    margin-right: 5px;
    background-color: blanchedalmond;
  }
  #button:hover{
    background-color: rgb(8, 8, 8);
    color: rgb(250, 248, 248);
  }
  .up{
    font-size: 30px;
    color: currentColor;
    padding: 5px;
  }
  .down{
    font-size: 30px;
    color: currentColor;
    padding: 5px;
  }
 