<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="https://img.freepik.com/free-vector/sticker-template-with-pizza-isolated_1308-62307.jpg?size=626&ext=jpg"
        alt="Logo"
        width="30"
        height="24"
        ml-5
        class="d-inline-block align-text-top"
      />&nbsp;&nbsp;<span style="color: aliceblue">Pizza App</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" [routerLink]="['home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['login']">Login</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">SignUp</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['cart']">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['history']">History</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control"
          type="text"
          name="search"
          [(ngModel)]="searchText"
          autocomplete="off"
          placeholder="Start searching for a pizza by name"
        />
        <button
          id="button"
          type="submit"
          (click)="onSearch()"
        >
          Search
        </button>
      </form>
    </div>
  </div>
</nav>
