<h4 style="text-align: center; text-decoration:underline; margin-top: 4px;">You can see here Previous Orders</h4>
<div class="container">
  <ul>
    <li *ngFor="let historyItem of historyItemArray ; let i = index">
      <!-- {{historyItem.items | json}} -->
     Order No: <span>{{i+1}}</span>
      <div   *ngFor="let item of historyItem.items">
      <!-- <div class="col-auto"> -->
   <img [src]="item.pizza.image" alt="alternate" />
      <!-- </div> -->
      <!-- <div class="col-auto"> -->
        <a routerLink="/pizza/{{ item.pizza.id }}">
        Name: {{item.pizza.name }}
        </a>
      <!-- </div> -->
      <!-- <div class="col-auto"> -->
      Qty: {{ item.quantity }}
      <!-- </div> -->
     Price:  <span class="col-auto">{{item.pizza.price | currency}}</span>
     Size:   <span class="col-auto">{{item.pizza.size}}</span>
    </div>
    <div>
     Total Bill : 0 
    </div>
    </li>
  </ul>
</div>