<h4 class="top">You can see here Previous Orders</h4>
<div class="container">
  <ul>
    <li *ngFor="let order of orderList ; let i = index">
      Order No: <span>{{i+1}}</span>
      <div *ngFor="let pizza of getPizzaListFromCartMap(order.addedCart); let j = index">
        <img [src]="pizza.image" alt="alternate" />
        Name: {{pizza.name }}
        Qty: {{ order.addedCart[j].quantity }}
        Price: <span class="col-auto">{{pizza.price | currency}}</span>
        Size: <span class="col-auto">{{pizza.size}}</span>
      </div>
      <div>
        Total amount : {{getTotalPrice(order)}}
      </div>
    </li>
  </ul>
</div>