<div class="container">
  <ul>
    <li *ngFor="let pizza of cartList; let i = index">
      <div>
        <img [src]="pizza.image" alt="alternate" />
      </div>
      <div>
        <a routerLink="/pizza/{{ pizza.id }}">
          {{ pizza.name }}
        </a>
      </div>
      <div>
        <span>
          <button class="btn btn-primary actions" type="button" (click)="decrement(i)">-</button>
          {{cartMap[i].quantity}}
          <button class="btn btn-primary actions" type="button" (click)="increment(i)">+</button>
        </span>
      </div>
      <div>
        <span style="color: black">
          {{(cartMap[i].quantity)*(pizza.price)}}
          </span>
      </div>
      <div>
        <i
          class="fa fa-trash remove-cart"
          (click)="removeFromCart(i)"
        ></i>
      </div>
    </li>
  </ul>

  <div class="checkout">
    <div class="food-count">
      {{ cartList?.length || 0}}
    </div>
    <div class="total-price">
      {{ getTotalPrice() }}
    </div>
    <button class="chk" (click)="checkout()">CheckOut</button>
  </div>
</div>