<div class="container">
  <ul *ngIf="cart && cart.items && cart.items.length">
    <li *ngFor="let cartItem of cart.items; let i = index">
      <div>
        <img [src]="cartItem.pizza.image" alt="alternate" />
      </div>
      <div>
        <a routerLink="/pizza/{{ cartItem.pizza.id }}">
          {{ cartItem.pizza.name }}
        </a>
      </div>
       <div>
      <input
        [(ngModel)]="cartItem.quantity"
        [ngModelOptions]="{ standalone: true }"
        (change)="changeSubTotal(cartItem)"
        style="color: black; width: 50px"
        type="number"
        min="1"
        value="1"
      />
   </div>
   <div>
      <span style="color: black">{{
        changeSubTotal(cartItem) | currency
      }}</span></div>
      <div>
        <i
          class="fa fa-trash remove-cart"
          (click)="removeFromCart(cartItem)"
        ></i>
      </div>
    </li>
  </ul>

  <div class="checkout">
    <div class="food-count">
      {{ cart?.items?.length || 0}}
    </div>
    <div class="total-price">
      {{ totalPrice }}
    </div>
    <button class="chk" (click)="checkout()">CheckOut</button>
  </div>
</div>
