Sort Items By Price: 
<button class=" mx-1" (click)="sort('asc')">&#8593;</button>
<button class="mx-1 " (click)="sort('des')">&#8595;</button>
Sort Items By Popularity: 
<button class=" mx-1" (click)="sort1('asc1')">&#8593;</button>
<button class="mx-1 " (click)="sort1('des1')">&#8595;</button>
<button class="btn btn-primary" (click)="onClick()">Fetch</button>
<ul>
  <li *ngFor="let pizza of Pizza;  let i = index">
    <a><img src="{{ pizza.image }}" alt="" /></a>
    <div class="content">
      <div class="name-and-star-class">
        <div class="name" style="padding: 5px">{{ pizza.name }}</div>
        <star-rating
          class="star"
          [value]="pizza.star"
          [totalstars]="5"
          checkedcolor="lightCoral"
          uncheckedcolor="black"
          size="24px"
          [readonly]="true"
        >
        </star-rating>
      </div>
      <div class="size" style="margin-left: 5px; margin-top: -10px">
        Size: {{ pizza.size }}
      </div>
      <div class="price-cart">
        <div class="price" style="margin-left: 5px">
          {{ pizza.price | currency }}
        </div>
        <button
          class="cartBtn"
          (click)="AddToCart(Pizza, $event.target, 'Added to Cart',i)"
        >
          Add to Cart
        </button>
      </div>
    </div>
  </li>
</ul>
