ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
ul li a{
    height: 11rem;
    width: 20rem;
    border: 1px solid rosybrown;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 1rem;
    margin: 0.5rem;
    color: blueviolet;
}
/* .content{
    position: relative;
} */

.name-and-star-class{
    display: flex;
    justify-content: space-between;
}
.price-cart{
    display: flex;
    justify-content: space-between;
}
.cartBtn{
    margin-top: -7px; 
    background-color: blanchedalmond;
     border: 2px solid black;
     border-radius: 10px;


}
.cartBtn:hover{
    background-color: black;
    color: aliceblue;
}
.mx-1{
    background-color: burlywood;
    height: 25px;
    margin-top: 9px;
}